<footer id='the_footer'>
<div id='social_network'>
Contact - <a href="mailto:luongnv89@gmail.com"><i class='fa fa-send-o'></i></a>
<a href="http://fr.linkedin.com/in/luongnv"><i class='fa fa-linkedin-square'></i></a>
<a href="https://twitter.com/luongnv89"><i class='fa fa-twitter-square'></i></a>
</div>
</footer>