<!-- CURRENT CHANNEL -->
<div class="media" id="currentChannel">
  <div class=" pull-left">
  <img class="media-object" src="/images/piano.png" alt="Current Channel Logo" id="currentLogo" style="padding:10px;" title="Radio stream logo">
    <div id="radioName">Radio stream name</div>  
  </div>
  <div class="media-body hidden-xs">
    <h4 class="media-heading">Information</h4>  
    <span id="rs-description" >Radio stream description</span> 
  </div>
</div>


