 <!-- PLAYER -->
 <div id="radioplay">
      <i class="fa fa-list fa-2x" alt="PlayList" id="btnPlayList" data-toggle="modal" data-target="#myModal" style="float:left;" title="List Channels"></i> 
      <% include ./corePlayer.ejs%>
</div>

